@use './fonts' as *
@use './varibles' as *

//?mixins
// common
@mixin flex($direction: row, $justify: space-between, $align: center)
    display: flex
    flex-direction: $direction
    justify-content: $justify
    align-items: $align
@mixin gradient($deg-gradient: 180deg, $first-gradient: $bgc-default,$first-percent: 65%, $second-gradient: $bgc-subtle, $second-percent: 100% )
    background: $first-gradient
    background: linear-gradient($deg-gradient, $first-gradient $first-percent, $second-gradient $second-percent)

// home
@mixin home-content-title
    @include flex
    margin-bottom: .5em
    >h5
        font-size: 1.1em
        text-transform: uppercase
    >a
        color: $fc-unimportant
        @include flex
        transition: .3s
        &:hover 
            color: $fc-default
        

// card
@mixin card-title
    font-size: 1.1em
    text-transform: capitalize
    display: block
@mixin card-img
    height: auto
    max-width: 100%
    display: block
@mixin card-text
    font-size: .85em
    font-weight: 400
    display: block
@mixin card-price
    font-size: .8em
    padding: 0 .5em 0 .5em
    span
        font-size: .95em
        text-decoration: line-through
        color: $fc-unimportant
        