//? varibles
// font family
$ff-default: 'Roboto', sans-serif
// font color
$fc-default: #fff
$fc-hilight: #302c3a
$fc-unimportant: #4c565d
$fc-discounted: #a4d007
$fc-subsidiary-unimportant: #6f6f6f
// background color
$bgc-default: #151515
$bgc-hilight: #f2ecff
$bgc-important: black
$bgc-subtle: #313438
$bgc-discounted: #4c6b22
$bgc-subsidiary: #8b0023
$bgc-subsidiary-subtle: #6f001c