@use '../_fonts' as *
@use '../_varibles' as *
@use './_common-mixins' as *
@use '../../../../node_modules/breakpoint-slicer' as bs

// home
@mixin home-content-title
    @include flex
    margin-bottom: .5em
    >h5
        font-size: 1.1em
        text-transform: uppercase
    >a
        color: $fc-unimportant
        @include flex
        transition: .3s
        &:hover 
            color: $fc-default

// card
@mixin card-title
    font-size: 1.1em
    text-transform: capitalize
    display: block
@mixin card-img
    height: auto
    max-width: 100%
    display: block
    box-shadow: $bs-card-img
    object-fit: cover
@mixin card-text
    font-size: .85em
    font-weight: 400
    display: block
@mixin card-price
    display: inline-flex
    font-size: .85em
    padding: 0 .5em 0 .5em
    span
        font-size: .95em
        text-decoration: line-through
        color: $fc-unimportant

// slider
@mixin arrows
    >button.previous, button.next
        display: none
        border: none
        @include bs.from(xl)
            @include flex($justify: center)
            position: absolute
            top: 38%
            width: 7%
            height: 7em
            border-radius: 4px
        >svg
            font-size: 4em
            color: $fc-default
    >button.previous
        left: -7%
        @include gradient(background, 270deg, transparent, 40%, $bgc-subtle, 100%)
        &:hover
            @include gradient(background, 270deg, transparent, 15%, $bgc-hilight-subtle, 100%)
    >button.next
        right: -7%
        @include gradient(background, 90deg, transparent, 40%, $bgc-subtle, 100%)
        &:hover
            @include gradient(background, 90deg, transparent, 15%, $bgc-hilight-subtle, 100%)

@mixin flexible-card
    >a
        transition: $trs-basic
        max-width: 100%
        box-shadow: $bs-card-lg
        overflow: hidden
        @include gradient
        @include flex($direction: column, $align: stretch)
        @include bs.from(xl)
            width: 100%
            flex-direction: row
        >img
            @include card-img
            @include bs.from(xl)
                width: 620px
                height: 350px
        >div
            @include grid($columns: 1fr 1fr, $gap: .5em, $place-content: space-evenly)
            padding: .5em
            @include bs.from(xl)
                padding: 0
            >h4, >a
                @include card-title
                grid-column: span 2
                font-size: 1.4em
            >a:hover
                color: $fc-important
                transition: $trs-basic
            >img
                display: none
                @include bs.from(xl)
                    grid-column: span 1
                    height: 91px
                    width: 100%
                    display: inline-block
            >*:not(img)
                margin-left: .5em

            >div:nth-last-child(2)
                display: none
                @include bs.from(xl)
                    @include flex($direction: column,$justify: none, $align: flex-start, $gap: .3em)
                    grid-column: span 2
                    >div:first-child
                        font-size: 1.05em
                    >div:last-child
                        font-size: .8em
                        padding: .2em .6em
                        background-color: $bgc-subsidiary

            >div:last-child
                @include flex($justify: space-between)
                grid-column: span 2
                margin: 0 .5em
                >div:first-child
                    @include flex
                    background-color: $bgc-important
                    font-size: .8em
                    * 
                        display: inline-block
                        padding: 0.2em .4em
                    >div:nth-child(1)
                        background-color: $bgc-discounted
                        color: $fc-discounted
                    >div:nth-child(2)
                        @include flex($direction: row)
                        @include card-price
                >div:last-child
                    @include flex($gap: .2em)

    &.mobile-results-search
        @include flex($direction: column, $gap: 1em)
        @include bs.from(xl)
            display: none
    &.desktop-results-search
        flex: 1
        display: none
        @include bs.from(xl)
            @include flex($direction: column, $gap: 1em)
        >a
            @include flex($direction: column, $justify: space-between)
            border-radius: .6em
            >img
                width: 100%
                height: 10em
            >div
                padding: 1em .5em
                >* 
                    margin: 0 !important
                >div
                    @include flex($direction: column, $align: flex-start, $gap: 1em)