@use '../abstracts' as *
@use "../../../node_modules/breakpoint-slicer" as bs
@use '../abstracts/mixins/_admin-mixins' as *

//? admin
section.admin-container
    @include flex($align: stretch, $justify: flex-start)
    background: $bgc-admin
    position: relative
    >div.terminal
        display: none //! temp
        position: fixed
        top: 0
        bottom: 0
        left: 0
        transform: translateX(-100%)
        z-index: -10
        background-color: $bgc-admin-terminal
        overflow-y: auto
        transition: $trs-basic
        min-height: 100%
        @include bs.from(xl)
            @include flex($direction: column, $align: stretch, $justify: flex-start)
            position: static
            transform: translateX(0)
            z-index: 0
        &.sidebar-open
            transform: translateX(0)
            z-index: 15
        >*
            padding: .75em
        >.head
            @include flex($gap: 2em)
            background-color: $bgc-admin-terminal-dark
            border-bottom: 1.5px solid $bgc-subsidiary
            >a
                @include headLink
            >button 
                background: none
                border: none
                color: $fc-admin-white
                @include bs.from(xl)
                    display: none
                >svg
                    width: 2rem
                    min-width: 2rem
                    transform: rotate(180deg)
                    transition: $trs-instant
                    cursor: pointer
                    &:hover
                        color: $fc-subsidiary-hilight
        >.admin
            background-color: $bgc-admin-terminal-dark
            border-bottom: 1.5px solid $bgc-subsidiary
            >a
                @include headLink
        >.search
            @include AdminSearch($fc: $fc-admin-white, $bgc: $bgc-admin-terminal-soft, $bl: $fc-admin-white-soft)
        >.dashboard
            @include flex($direction: column, $align: stretch, $gap: 1.2em)
            font-size: .9em
            letter-spacing: .05em
            >ul
                >li
                    border-radius: 5px
                    text-transform: capitalize
                    cursor: pointer
                    svg
                        font-size: 1.6em
                    >a
                        @include flex($justify: space-between, $align: center)
                        padding: .75em
                        margin-bottom: .5em
                        border-radius: 5px
                        &:hover
                            background-color: $bgc-admin-terminal-soft
                        &.current
                            background-color: $bgc-admin-current
                        >span
                            @include flex($gap: .5em)
                    >ul
                        display: none
                        &.current
                            display: block
                        >li >a
                            @include flex($justify: flex-start, $align: center, $gap: .5em)
                            padding: .5em .75em
                            margin: 0 2em .5em 0
                            border-radius: 5px
                            &:hover
                                background-color: $bgc-admin-terminal-soft
                            &.current
                                background-color: $bgc-admin-gray
                                color: $fc-admin
            >p.label
                text-transform: uppercase

    >div.controls
        @include flex($direction: column, $justify: flex-start, $align: stretch)
        flex: 1
        color: $fc-admin
        min-height: 100vh
        >div:not(:first-child)
            margin: 1em
        
        >.head
            background-color: $bgc-admin-white
            border-bottom: 1px solid $bgc-admin-line
            padding: 1em
            color: #90989e
            @include flex($justify: flex-start, $align: center, $gap: 1em)
            >button
                @include sidebar-button
                >svg
                    width: 1.4rem
                    min-width: 1.4rem
                    transform: translateY(.05em)
            >.breadcrumbs
                font-size: 1.1em
                text-transform: capitalize
                @include flex($gap: .2em)
                >div >a
                    color: inherit
                >span
                    cursor: default
                    
        >.title
            @include flex
            >h2
                font-size: 1.7em
                font-weight: 400
            >button
                @include sidebar-button
                >svg
                    transform: translateY(.15em)

        >.list-container
            border: 2px solid $bgc-admin-line-gray
            background-color: $bgc-admin-white
            @include flex($direction: column, $align: stretch)
            >.search
                padding: 1em
                @include flex($justify: flex-start, $align: stretch)
                >input
                    font-size: 1em
                    padding: .5em
                    background: $bgc-admin-white
                    border: 1px solid $bgc-admin-line-dark
                >button
                    padding: 0 .5em
                    border: none
                    background: $bgc-subtle
                    >svg
                        color: $fc-default
            >ul.table
                //border: 1px solid black
                //padding: .5em
                @include grid($columns: minmax(min-content, 1fr) minmax(10em, 2fr) repeat(5, minmax(min-content, .5fr)))
                grid-auto-flow: row
                overflow-x: auto
                >li
                    @include flex()
                    padding: .5em 1em
                    border-top: 2px solid $bgc-admin-line-gray
                    >svg
                        font-size: 1.5em
                .table-head
                    padding: .75em 1em
                    font-weight: 500
                    text-transform: capitalize
                    color: $fc-admin
                .edit, .delete
                    justify-content: center
                    transition: $trs-instant
                    cursor: pointer
                .edit:hover
                    color: $fc-admin-edit
                .delete:hover
                    color: $fc-admin-delete
            >.pagination
                border-top: 2px solid $bgc-admin-line-gray
                padding: 1em
                >ul
                    @include flex($align: stretch, $justify: center)
                    >li
                        @include flex()
                        padding: .5em
                        border: 1px solid $bgc-admin-line-dark
                        border-left: none
                        transition: $trs-instant
                        cursor: pointer
                    li:not(.current):hover
                        background-color: $bgc-subsidiary-hilight
                        color: $fc-hilight-subsidiary
                    >li:first-child
                        border-left: 1px solid $bgc-admin-line-dark
                    >li.current
                        background-color: $bgc-admin-current
                        color: $fc-admin-white

    >div.filter-controls
        //display: none //! temp
        position: fixed
        top: 0
        bottom: 0
        right: 0
        transform: translateX(0) //! temp
        z-index: 15 //! temp
        background-color: $bgc-admin-terminal
        overflow-y: auto
        transition: $trs-basic
        min-height: 100%
        >*
            padding: .75em
        >.head
            @include flex($gap: 2em)
            background-color: $bgc-admin-terminal-dark
            border-bottom: 1.5px solid $bgc-subsidiary
            font-size: 1.2em

    >div.sidebar-overlay
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -10
        opacity: 0
        background-color: $bgc-overlay
        transition: $trs-basic
        &.sidebar-open
            opacity: 1
            z-index: 10