@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 100%;
}
html body {
  height: 100%;
  background-color: #151515;
  color: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.75em 0 0.75em 0;
}
body header nav > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
}
body header nav > div:nth-child(1) > img {
  width: 60%;
}
body header nav > form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 1.5em;
  font-size: 1.25em;
  background-color: #313438;
  border-radius: 1em;
  transition: 0.3s;
}
body header nav > form:hover {
  background-color: #f2ecff;
}
body header nav > form > svg {
  color: #fff;
}
body header nav > form > input {
  width: 80%;
  background: none;
  border: none;
  color: #fff;
  font-size: 0.85em;
}
body header nav > form:hover > input, body header nav > form:hover > svg {
  color: black;
}
body header nav > div:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  padding-right: 0.75em;
}
body header nav > div:nth-child(3) > img {
  height: 2.5em;
  border-radius: 25px;
}
body header nav > div:nth-child(3) > svg {
  margin-left: 0.5em;
  height: 2.5em;
}

.hero > a {
  display: block;
}
.hero > a > video {
  height: auto;
  width: 100%;
}

#root > div > section {
  margin-top: 2em;
}

.main-section {
  padding: 0 0.5em 0 0.5em;
}
.main-section > .main-card-container > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.main-section > .main-card-container > div:first-child > h5 {
  font-size: 1.1em;
  text-transform: uppercase;
}
.main-section > .main-card-container > div:first-child > a {
  color: #4c565d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.main-section > .main-card-container > div:first-child > a:hover {
  color: #fff;
}
.main-section > .main-card-container > div.slider > div {
  background: #151515;
  background: linear-gradient(180deg, #151515 65%, #313438 100%);
}
.main-section > .main-card-container > div.slider > div img {
  height: auto;
  max-width: 100%;
  display: block;
}
.main-section > .main-card-container > div.slider > div > div {
  padding: 0.5em;
}
.main-section > .main-card-container > div.slider > div > div > h4 {
  font-size: 1.1em;
  text-transform: capitalize;
  display: block;
  margin: 0 0 0.3em 0;
}
.main-section > .main-card-container > div.slider > div > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  background-color: black;
}
.main-section > .main-card-container > div.slider > div > div > div * {
  display: inline-block;
  padding: 0.3em 0.3em 0.3em 0.3em;
}
.main-section > .main-card-container > div.slider > div > div > div > div:nth-child(1) {
  background-color: #4c6b22;
  color: #a4d007;
}
.main-section > .main-card-container > div.slider > div > div > div > div:nth-child(2) {
  font-size: 0.8em;
  padding: 0 0.5em 0 0.5em;
}
.main-section > .main-card-container > div.slider > div > div > div > div:nth-child(2) span {
  font-size: 0.95em;
  text-decoration: line-through;
  color: #4c565d;
}
.main-section > .main-card-container > div.slider > div > div > div > div:nth-child(2) > span {
  padding-right: 0.5em;
}
.main-section > .secondary-card-container > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.main-section > .secondary-card-container > div:first-child > h5 {
  font-size: 1.1em;
  text-transform: uppercase;
}
.main-section > .secondary-card-container > div:first-child > a {
  color: #4c565d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.main-section > .secondary-card-container > div:first-child > a:hover {
  color: #fff;
}
.main-section > .secondary-card-container > div.slider > div {
  width: 100%;
  background: #151515;
  background: linear-gradient(180deg, #151515 65%, #313438 100%);
}
.main-section > .secondary-card-container > div.slider > div > a {
  display: block;
}
.main-section > .secondary-card-container > div.slider > div > a > img {
  height: auto;
  max-width: 100%;
  display: block;
  width: 100vw;
}
.main-section > .secondary-card-container > div.slider > div > div {
  padding: 0.75em 0.5em 0.75em 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.main-section > .secondary-card-container > div.slider > div > div div {
  display: inline-block;
  background-color: black;
}
.main-section > .secondary-card-container > div.slider > div > div div * {
  display: inline-block;
}
.main-section > .secondary-card-container > div.slider > div > div div > div:nth-child(1) {
  background-color: #4c6b22;
  color: #a4d007;
  font-size: 2em;
  padding: 0.1em;
}
.main-section > .secondary-card-container > div.slider > div > div div > div:nth-child(2) {
  font-size: 0.8em;
  padding: 0 0.5em 0 0.5em;
}
.main-section > .secondary-card-container > div.slider > div > div div > div:nth-child(2) span {
  font-size: 0.95em;
  text-decoration: line-through;
  color: #4c565d;
}
.main-section > .secondary-card-container > div.slider > div > div div > div:nth-child(2) * {
  display: block;
}
.main-section > .movie-card-container > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.main-section > .movie-card-container > div:nth-child(1) > h5 {
  font-size: 1.1em;
  text-transform: uppercase;
}
.main-section > .movie-card-container > div:nth-child(1) > a {
  color: #4c565d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.main-section > .movie-card-container > div:nth-child(1) > a:hover {
  color: #fff;
}
.main-section > .movie-card-container > div:nth-child(2) {
  background: #151515;
  background: linear-gradient(180deg, #151515 65%, #313438 100%);
}
.main-section > .movie-card-container > div:nth-child(2) > img {
  height: auto;
  max-width: 100%;
  display: block;
}
.main-section > .movie-card-container > div:nth-child(2) > div {
  padding: 0.75em;
}
.main-section > .movie-card-container > div:nth-child(2) > div > p {
  font-size: 0.85em;
  font-weight: 400;
  display: block;
}
.main-section > .movie-card-container > div:nth-child(2) > div > div.movie-card-comment {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.main-section > .movie-card-container > div:nth-child(2) > div > div.movie-card-comment > img {
  height: 38px;
  width: 38px;
  align-self: flex-end;
}
.main-section > .movie-card-container > div:nth-child(2) > div > div.movie-card-comment > div {
  margin-left: 0.75em;
}
.main-section > .movie-card-container > div:nth-child(2) > div > div.movie-card-comment > div * {
  display: block;
}
.main-section > .movie-card-container > div:nth-child(2) > div > div.movie-card-comment > div > h6 {
  font-size: 1em;
}
.main-section > .movie-card-container > div:nth-child(2) > div > div.movie-card-comment > div > p {
  margin-top: 0.25em;
  font-size: 0.6em;
  font-weight: 300;
}
.main-section > .page-browse > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.main-section > .page-browse > div:nth-child(1) > h5 {
  font-size: 1.1em;
  text-transform: uppercase;
}
.main-section > .page-browse > div:nth-child(1) > a {
  color: #4c565d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.main-section > .page-browse > div:nth-child(1) > a:hover {
  color: #fff;
}
.main-section > .page-browse > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.main-section > .page-browse > div:nth-child(2) > a {
  display: inline-block;
  height: 3em;
  width: 48%;
  border-radius: 5px;
  border: solid 1px black;
  background-color: #8b0023;
  color: #fff;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-section > .page-browse > div:nth-child(2) > a:hover {
  background-color: #f2ecff;
  color: #302c3a;
}
.main-section > .page-browse > div:nth-child(2) > a:nth-child(1),
.main-section > .page-browse > div:nth-child(2) > a:nth-child(2) {
  margin-bottom: 0.5em;
}
.main-section > .special-card-container > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.main-section > .special-card-container > div:nth-child(1) > h5 {
  font-size: 1.1em;
  text-transform: uppercase;
}
.main-section > .special-card-container > div:nth-child(1) > a {
  color: #4c565d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.main-section > .special-card-container > div:nth-child(1) > a:hover {
  color: #fff;
}
.main-section > .special-card-container > div:nth-child(2) {
  width: 60%;
  background: #8b0023;
  background: linear-gradient(90deg, #8b0023 20%, #151515 100%);
}
.main-section > .special-card-container > div:nth-child(2) > a > img {
  height: auto;
  max-width: 100%;
  display: block;
}
.main-section > .special-card-container > div:nth-child(2) > a > div {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.main-section > .special-card-container > div:nth-child(2) > a > div > p {
  font-size: 0.8em;
  padding: 0 0.5em 0 0.5em;
  padding: 0.1em 0.35em;
  background-color: #f2ecff;
  color: #302c3a;
}
.main-section > .special-card-container > div:nth-child(2) > a > div > p span {
  font-size: 0.95em;
  text-decoration: line-through;
  color: #4c565d;
}

.tab-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 100%;
  background-color: #151515;
}
.tab-selector > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2em;
  padding: 1em 0.75em;
  background-color: #8b0023;
  transition: 0.3s;
}
.tab-selector > a:hover {
  background-color: #f2ecff;
}
.tab-selector > a > p {
  font-size: 0.9em;
  color: #fff;
}
.tab-selector > a:hover > p {
  color: #302c3a;
}

.subsidiary-section > section {
  margin-top: 0 !important;
  background-color: #8b0023;
  padding: 0.5em;
}
.subsidiary-section > section > div > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.4em;
  background-color: #6f001c;
}
.subsidiary-section > section > div > div > p {
  font-size: 0.8em;
}
.subsidiary-section > section > div > div > a {
  font-size: 0.8em;
  padding: 0.5em;
  border: 1px solid #f2ecff;
  color: #fff;
  transition: 0.3s;
}
.subsidiary-section > section > div > div > a:hover {
  background-color: #f2ecff;
  color: #302c3a;
}
.subsidiary-section > section > div > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  background-color: #6f001c;
}
.subsidiary-section > section > div > a:hover {
  background-color: #151515;
}
.subsidiary-section > section > div > a > img {
  height: auto;
  max-width: 100%;
  display: block;
  height: 100%;
  width: 40%;
}
.subsidiary-section > section > div > a > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0.5em;
  width: 60%;
}
.subsidiary-section > section > div > a > div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  color: black;
  width: 75%;
}
.subsidiary-section > section > div > a > div > div:nth-child(1) * {
  display: inline-block;
}
.subsidiary-section > section > div > a > div > div:nth-child(1) > h4 {
  width: 100%;
  color: #fff;
}
.subsidiary-section > section > div > a > div > div:nth-child(1) > i {
  width: 100%;
  color: #6f6f6f;
}
.subsidiary-section > section > div > a > div > div:nth-child(1) > small {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: 0.8em;
  color: #6f6f6f;
}
.subsidiary-section > section > div > a > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 25%;
}
.subsidiary-section > section > div > a > div > div:nth-child(2) > div:nth-child(1) {
  background-color: #4c6b22;
  display: inline;
  padding: 0.1em 0.3em;
  color: #a4d007;
}
.subsidiary-section > section > div > a > div > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.subsidiary-section > section > div > a > div > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) {
  text-decoration: line-through;
  color: #6f6f6f;
  font-size: 0.7em;
}
.subsidiary-section > section > div > a > div > div:nth-child(2) > div:nth-child(2) > p:nth-child(2) {
  color: #fff;
  font-size: 0.8em;
}

/*# sourceMappingURL=index.css.map */
